/*
Flaticon icon font: Flaticon
Creation date: 19/02/2016 14:44
*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/line-icon/Flaticon.eot");
    src: url("../fonts/line-icon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/line-icon/Flaticon.woff") format("woff"),
    url("../fonts/line-icon/Flaticon.ttf") format("truetype"),
    url("../fonts/line-icon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/line-icon/Flaticon.svg#Flaticon") format("svg");
    }
}

.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-amplified-speaker:before { content: "\f100"; }
.flaticon-battery:before { content: "\f101"; }
.flaticon-battery-charging-status:before { content: "\f102"; }
.flaticon-brightness:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-camera:before { content: "\f105"; }
.flaticon-cassette:before { content: "\f106"; }
.flaticon-cd:before { content: "\f107"; }
.flaticon-chains:before { content: "\f108"; }
.flaticon-check:before { content: "\f109"; }
.flaticon-cinema-reel-video-camera:before { content: "\f10a"; }
.flaticon-circles:before { content: "\f10b"; }
.flaticon-circular-arrow:before { content: "\f10c"; }
.flaticon-circular-design:before { content: "\f10d"; }
.flaticon-circular-design-with-crown:before { content: "\f10e"; }
.flaticon-clock:before { content: "\f10f"; }
.flaticon-cloud:before { content: "\f110"; }
.flaticon-cloud-with-thunderbolt:before { content: "\f111"; }
.flaticon-cloudy:before { content: "\f112"; }
.flaticon-coffee-cup:before { content: "\f113"; }
.flaticon-cogwheel:before { content: "\f114"; }
.flaticon-compact-disc:before { content: "\f115"; }
.flaticon-compass:before { content: "\f116"; }
.flaticon-crop-tool:before { content: "\f117"; }
.flaticon-cross:before { content: "\f118"; }
.flaticon-crown:before { content: "\f119"; }
.flaticon-curve-arrows:before { content: "\f11a"; }
.flaticon-design:before { content: "\f11b"; }
.flaticon-diamond:before { content: "\f11c"; }
.flaticon-document:before { content: "\f11d"; }
.flaticon-dollar-symbol:before { content: "\f11e"; }
.flaticon-door-hanger:before { content: "\f11f"; }
.flaticon-double-arrow:before { content: "\f120"; }
.flaticon-double-arrow-1:before { content: "\f121"; }
.flaticon-double-arrows:before { content: "\f122"; }
.flaticon-downloading:before { content: "\f123"; }
.flaticon-eject-button:before { content: "\f124"; }
.flaticon-envelope:before { content: "\f125"; }
.flaticon-eye:before { content: "\f126"; }
.flaticon-fast-forward-button:before { content: "\f127"; }
.flaticon-fast-forward-button-1:before { content: "\f128"; }
.flaticon-file:before { content: "\f129"; }
.flaticon-film-camera:before { content: "\f12a"; }
.flaticon-fire:before { content: "\f12b"; }
.flaticon-flag:before { content: "\f12c"; }
.flaticon-folder:before { content: "\f12d"; }
.flaticon-four-squares:before { content: "\f12e"; }
.flaticon-full-battery:before { content: "\f12f"; }
.flaticon-half-battery:before { content: "\f130"; }
.flaticon-headphones:before { content: "\f131"; }
.flaticon-heart:before { content: "\f132"; }
.flaticon-home:before { content: "\f133"; }
.flaticon-leaf:before { content: "\f134"; }
.flaticon-left-arrow:before { content: "\f135"; }
.flaticon-left-arrow-1:before { content: "\f136"; }
.flaticon-light-bulb:before { content: "\f137"; }
.flaticon-line-chart:before { content: "\f138"; }
.flaticon-low-battery:before { content: "\f139"; }
.flaticon-magnification-lens:before { content: "\f13a"; }
.flaticon-map:before { content: "\f13b"; }
.flaticon-mathematical-operations:before { content: "\f13c"; }
.flaticon-microphone:before { content: "\f13d"; }
.flaticon-molecular-structure:before { content: "\f13e"; }
.flaticon-multiple-line:before { content: "\f13f"; }
.flaticon-music-controller:before { content: "\f140"; }
.flaticon-mute-button:before { content: "\f141"; }
.flaticon-newspaper-page:before { content: "\f142"; }
.flaticon-no-protection:before { content: "\f143"; }
.flaticon-padlock:before { content: "\f144"; }
.flaticon-padlock-1:before { content: "\f145"; }
.flaticon-paint-brush:before { content: "\f146"; }
.flaticon-paper-bag:before { content: "\f147"; }
.flaticon-paper-plane:before { content: "\f148"; }
.flaticon-paper-tray:before { content: "\f149"; }
.flaticon-paperclip:before { content: "\f14a"; }
.flaticon-pencil:before { content: "\f14b"; }
.flaticon-phone-auricular:before { content: "\f14c"; }
.flaticon-picture:before { content: "\f14d"; }
.flaticon-placeholder:before { content: "\f14e"; }
.flaticon-play-button:before { content: "\f14f"; }
.flaticon-quaver:before { content: "\f150"; }
.flaticon-rain:before { content: "\f151"; }
.flaticon-religion-stained-glass:before { content: "\f152"; }
.flaticon-rewind-button:before { content: "\f153"; }
.flaticon-rewind-button-1:before { content: "\f154"; }
.flaticon-right-arrow:before { content: "\f155"; }
.flaticon-right-arrow-1:before { content: "\f156"; }
.flaticon-round-socket:before { content: "\f157"; }
.flaticon-scissors:before { content: "\f158"; }
.flaticon-screen:before { content: "\f159"; }
.flaticon-screen-1:before { content: "\f15a"; }
.flaticon-select:before { content: "\f15b"; }
.flaticon-shield:before { content: "\f15c"; }
.flaticon-shopping-cart:before { content: "\f15d"; }
.flaticon-shuffle:before { content: "\f15e"; }
.flaticon-signal:before { content: "\f15f"; }
.flaticon-smartphone:before { content: "\f160"; }
.flaticon-snowflake:before { content: "\f161"; }
.flaticon-spand-arrows:before { content: "\f162"; }
.flaticon-speaker:before { content: "\f163"; }
.flaticon-speech-balloon:before { content: "\f164"; }
.flaticon-speech-balloon-1:before { content: "\f165"; }
.flaticon-speech-balloons:before { content: "\f166"; }
.flaticon-square:before { content: "\f167"; }
.flaticon-square-1:before { content: "\f168"; }
.flaticon-squares:before { content: "\f169"; }
.flaticon-stamp:before { content: "\f16a"; }
.flaticon-star:before { content: "\f16b"; }
.flaticon-stop-button:before { content: "\f16c"; }
.flaticon-symbol:before { content: "\f16d"; }
.flaticon-t-shirt:before { content: "\f16e"; }
.flaticon-tag:before { content: "\f16f"; }
.flaticon-target:before { content: "\f170"; }
.flaticon-telephone-receiver:before { content: "\f171"; }
.flaticon-thunderbolt:before { content: "\f172"; }
.flaticon-trash:before { content: "\f173"; }
.flaticon-trophy:before { content: "\f174"; }
.flaticon-umbrella:before { content: "\f175"; }
.flaticon-user:before { content: "\f176"; }
.flaticon-user-1:before { content: "\f177"; }
.flaticon-wallet:before { content: "\f178"; }
.flaticon-world:before { content: "\f179"; }

@font-Flaticon-amplified-speaker: "\f100";
@font-Flaticon-battery: "\f101";
@font-Flaticon-battery-charging-status: "\f102";
@font-Flaticon-brightness: "\f103";
@font-Flaticon-calendar: "\f104";
@font-Flaticon-camera: "\f105";
@font-Flaticon-cassette: "\f106";
@font-Flaticon-cd: "\f107";
@font-Flaticon-chains: "\f108";
@font-Flaticon-check: "\f109";
@font-Flaticon-cinema-reel-video-camera: "\f10a";
@font-Flaticon-circles: "\f10b";
@font-Flaticon-circular-arrow: "\f10c";
@font-Flaticon-circular-design: "\f10d";
@font-Flaticon-circular-design-with-crown: "\f10e";
@font-Flaticon-clock: "\f10f";
@font-Flaticon-cloud: "\f110";
@font-Flaticon-cloud-with-thunderbolt: "\f111";
@font-Flaticon-cloudy: "\f112";
@font-Flaticon-coffee-cup: "\f113";
@font-Flaticon-cogwheel: "\f114";
@font-Flaticon-compact-disc: "\f115";
@font-Flaticon-compass: "\f116";
@font-Flaticon-crop-tool: "\f117";
@font-Flaticon-cross: "\f118";
@font-Flaticon-crown: "\f119";
@font-Flaticon-curve-arrows: "\f11a";
@font-Flaticon-design: "\f11b";
@font-Flaticon-diamond: "\f11c";
@font-Flaticon-document: "\f11d";
@font-Flaticon-dollar-symbol: "\f11e";
@font-Flaticon-door-hanger: "\f11f";
@font-Flaticon-double-arrow: "\f120";
@font-Flaticon-double-arrow-1: "\f121";
@font-Flaticon-double-arrows: "\f122";
@font-Flaticon-downloading: "\f123";
@font-Flaticon-eject-button: "\f124";
@font-Flaticon-envelope: "\f125";
@font-Flaticon-eye: "\f126";
@font-Flaticon-fast-forward-button: "\f127";
@font-Flaticon-fast-forward-button-1: "\f128";
@font-Flaticon-file: "\f129";
@font-Flaticon-film-camera: "\f12a";
@font-Flaticon-fire: "\f12b";
@font-Flaticon-flag: "\f12c";
@font-Flaticon-folder: "\f12d";
@font-Flaticon-four-squares: "\f12e";
@font-Flaticon-full-battery: "\f12f";
@font-Flaticon-half-battery: "\f130";
@font-Flaticon-headphones: "\f131";
@font-Flaticon-heart: "\f132";
@font-Flaticon-home: "\f133";
@font-Flaticon-leaf: "\f134";
@font-Flaticon-left-arrow: "\f135";
@font-Flaticon-left-arrow-1: "\f136";
@font-Flaticon-light-bulb: "\f137";
@font-Flaticon-line-chart: "\f138";
@font-Flaticon-low-battery: "\f139";
@font-Flaticon-magnification-lens: "\f13a";
@font-Flaticon-map: "\f13b";
@font-Flaticon-mathematical-operations: "\f13c";
@font-Flaticon-microphone: "\f13d";
@font-Flaticon-molecular-structure: "\f13e";
@font-Flaticon-multiple-line: "\f13f";
@font-Flaticon-music-controller: "\f140";
@font-Flaticon-mute-button: "\f141";
@font-Flaticon-newspaper-page: "\f142";
@font-Flaticon-no-protection: "\f143";
@font-Flaticon-padlock: "\f144";
@font-Flaticon-padlock-1: "\f145";
@font-Flaticon-paint-brush: "\f146";
@font-Flaticon-paper-bag: "\f147";
@font-Flaticon-paper-plane: "\f148";
@font-Flaticon-paper-tray: "\f149";
@font-Flaticon-paperclip: "\f14a";
@font-Flaticon-pencil: "\f14b";
@font-Flaticon-phone-auricular: "\f14c";
@font-Flaticon-picture: "\f14d";
@font-Flaticon-placeholder: "\f14e";
@font-Flaticon-play-button: "\f14f";
@font-Flaticon-quaver: "\f150";
@font-Flaticon-rain: "\f151";
@font-Flaticon-religion-stained-glass: "\f152";
@font-Flaticon-rewind-button: "\f153";
@font-Flaticon-rewind-button-1: "\f154";
@font-Flaticon-right-arrow: "\f155";
@font-Flaticon-right-arrow-1: "\f156";
@font-Flaticon-round-socket: "\f157";
@font-Flaticon-scissors: "\f158";
@font-Flaticon-screen: "\f159";
@font-Flaticon-screen-1: "\f15a";
@font-Flaticon-select: "\f15b";
@font-Flaticon-shield: "\f15c";
@font-Flaticon-shopping-cart: "\f15d";
@font-Flaticon-shuffle: "\f15e";
@font-Flaticon-signal: "\f15f";
@font-Flaticon-smartphone: "\f160";
@font-Flaticon-snowflake: "\f161";
@font-Flaticon-spand-arrows: "\f162";
@font-Flaticon-speaker: "\f163";
@font-Flaticon-speech-balloon: "\f164";
@font-Flaticon-speech-balloon-1: "\f165";
@font-Flaticon-speech-balloons: "\f166";
@font-Flaticon-square: "\f167";
@font-Flaticon-square-1: "\f168";
@font-Flaticon-squares: "\f169";
@font-Flaticon-stamp: "\f16a";
@font-Flaticon-star: "\f16b";
@font-Flaticon-stop-button: "\f16c";
@font-Flaticon-symbol: "\f16d";
@font-Flaticon-t-shirt: "\f16e";
@font-Flaticon-tag: "\f16f";
@font-Flaticon-target: "\f170";
@font-Flaticon-telephone-receiver: "\f171";
@font-Flaticon-thunderbolt: "\f172";
@font-Flaticon-trash: "\f173";
@font-Flaticon-trophy: "\f174";
@font-Flaticon-umbrella: "\f175";
@font-Flaticon-user: "\f176";
@font-Flaticon-user-1: "\f177";
@font-Flaticon-wallet: "\f178";
@font-Flaticon-world: "\f179";
