- load thumbnail
- load common

.card(style="background: none")
    a(href="{{ post.get_absolute_url }}", data-ps, style="text-decoration: none")
        .card-image
            div(style="width: 100%; height: 0; padding-top: 66.6%; background-image: url({% thumbnail post.cover 600x400 crop %}); background-size: cover")

            //- .card-image
            //-     img(src="{{ comic.image.url }}")
            span.card-title.shaded.truncate= post.title
                div.right
                    for category in post.categories.all
                        span.category= category.name

        .card-content(class="{{ content_bg }}")
            span= post.content|cut|strip_tags
