- load compile_static
- load static

!!!
html(lang="en")
head
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    script(src="{% static 'scripts/jquery.min.js' %}")
    script(src="{% static 'scripts/endless.js' %}")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    script(src="{% static 'scripts/main.js' %}")
    link(href="{% static 'styles/main.less'|compile %}", rel="stylesheet")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    meta(charset="UTF-8")
    title Andrew Dunai

body
    nav
        .nav-wrapper.red.darken-4
            .container
                a.brand-logo(href="/") Andrew Dunai
                a.button-collapse(href="#", data-activates="mobile-nav")
                    i.material-icons menu
                ul.right.hide-on-med-and-down
                    li(class="{% if page == 'index' %}active{% endif %}")
                        a(href="/")
                            i.material-icons.left view_module
                            | About
                    li(class="{% if page == 'projects' %}active{% endif %}")
                        a(href="{% url 'website:projects' %}")
                            i.material-icons.left code
                            | Projects
                    li(class="{% if page == 'comics' %}active{% endif %}")
                        a(href="{% url 'comics:list' %}")
                            i.material-icons.left chat_bubble
                            | Comics
                ul#mobile-nav.side-nav
                    li(class="{% if page == 'index' %}active{% endif %}")
                        a(href="/")
                            i.material-icons.left view_module
                            | About
                    li(class="{% if page == 'projects' %}active{% endif %}")
                        a(href="{% url 'website:projects' %}")
                            i.material-icons.left code
                            | Projects
                    li(class="{% if page == 'comics' %}active{% endif %}")
                        a(href="{% url 'comics:list' %}")
                            i.material-icons.left chat_bubble
                            | Comics

    nav
        .nav-wrapper.red.darken-4
            .container
                .col.s12
                    - for page in breadcrumbs
                        - if not forloop.last
                            a.breadcrumb(href="{{ page.url }}")
                                = page.title
                        - else
                            a.breadcrumb
                                = page.title

    .container
        block content
