- load compile_static
- load static

!!!
html(lang="en")
head
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
    link(href="{% static 'styles/flaticon.less'|compile %}", rel="stylesheet")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    meta(charset="UTF-8")
    title Andrew Dunai

    style(type="text/css").
        .uppercase {
            text-transform: uppercase;
        }

        .shaded {
            background: rgba(0, 0, 0, 0.8);
        }

        .card-title {
            right: 0;
        }

body
    nav
        .nav-wrapper.red.darken-2
            .container
                a.brand-logo(href="#") Andrew Dunai
                ul.right
                    li
                        a(href="{% url 'website:index' %}")
                            i.material-icons.left view_module
                            | About
                    li
                        a(href="{% url 'website:projects' %}")
                            i.material-icons.left code
                            | Projects
                    li
                        a(href="{% url 'comics:list' %}")
                            i.material-icons.left chat_bubble
                            | Comics


    .container
        block content
