extends dunai/base

block content
    div(style="padding: 1rem 0 0")
        a(href="{% url 'comics:list' %}") &lsaquo; Back to comics list
    
    .a-block(style="padding: 1rem 0.5rem; max-width: 960px; margin: 0 auto")
        h1.center-align
            = comic.title
        img.responsive-img(src="{{ comic.image.url }}")
        p.center-align
            | {{ comic.comment|safe }}
