extends 'dunai/base.jade'

- load thumbnail

block content
    h1 Comics

    p Inspired by XKCD.com

    div(data-endless="1")
        .row
            for comic in comics
                .col.s12.m6.l4
                    .card
                        a(href="{{ comic.get_absolute_url }}")
                            .card-image
                                div(style="width: 100%; height: 0; padding-top: 66.6%; background-image: url({% thumbnail comic.image 600x400 crop %}); background-size: cover")

                                //- .card-image
                                //-     img(src="{{ comic.image.url }}")
                                span.card-title.shaded.truncate= comic.title
