extends dunai/base

- load common

block head_extra
    meta(property="og:url", content="{{ request|absolute_url:comic.get_absolute_url }}")
    meta(property="og:type", content="article")
    meta(property="og:title", content="{{ comic.title }}")
    meta(property="og:description", content="{{ comic.comment|cut|strip_tags|nl2sp }}")
    meta(property="og:image", content="{{ request|absolute_url:comic.image.url }}")
    meta(property="fb:app_id", content="{% get_setting 'FB_APP_ID' %}")

block content
    div(style="padding: 1rem 0 0")
        a(href="{% url 'comics:list' %}", data-ps) &lsaquo; Back to comics list
    
    h1.center-align
        = comic.title

    .center-align
        img.responsive-img.z-depth-2(src="{{ comic.image.url }}")
    p.flow-text.center-align
        | {{ comic.comment|safe }}
