extends 'dunai/base.jade'

block content
    h1.primary-text(data-nav-id="comics", style="padding: 1rem 0.5rem") Comics

    p.body-text(style="padding: 1rem 0.5rem") Inspired by XKCD.com

    div(data-endless="1")
        include dunai/parts/comics
