- load common

!!!5
html(lang="uk", prefix="op: http://media.facebook.com/op#")
    head
        meta(charset="utf-8")
        link(rel="canonical", href="{{ request|absolute_url:post.get_absolute_url }}")
        meta(property="op:markup_version", content="v1.0")

    body
        article
            header
                figure
                    img(src="{% url_absolute request 'posts:view-cover' post.slug %}")

                h3.op-kicker= post.title

                address
                    a(rel="facebook", href="http://facebook.com/andunai") Andrew Dunai
                    | I make stuff.

                time.op-published(dateTime="{{ post.date_added|date }}"){{ post.date_added|human_date }}

            | {{ post.content|graphize|safe }}
