extends 'dunai/base.jade'

- load thumbnail
- load common

block content
    //- h1 Posts

    div(data-endless="1")
        .row
            for post in posts
                .col.s12.m6.hide-on-large-only
                    - include 'dunai/_post_card.jade' with content_bg='black'

                .col.s12.hide-on-med-and-down
                    div(style="display: flex; padding-top: 3rem")
                        a(data-ps, href="{{ post.get_absolute_url }}", style="width: 33.33%; padding-top: 66.6%; background-image: url({% thumbnail post.cover 600x400 crop %}); background-size: cover; position: relative")
                            .shaded(style="position: absolute; bottom: 0; left: 0; right: 0; padding: 1rem")
                                for category in post.categories.all
                                    span.category= category.name
                        div(style="width: 66.66%; padding: 1rem; min-height: 250px")
                            h2(style="margin-top: 0")
                                a(href="{{ post.get_absolute_url }}", data-ps)= post.title
                            span= post.content|cut|strip_tags

                            = " "

                            a(href="{{ post.get_absolute_url }}", data-ps).btn.btn-small.white.black-text Read more


                - empty
                    .col.s12
                        h3 :/
                        p No posts yet.

                        .desert
                            .tumbleweed
                            .tumbleweed
                            .tumbleweed
