extends dunai/base

- load common

block head_extra
    meta(name="og:url", content="{{ request|absolute_url:post.get_absolute_url }}")
    meta(name="og:type", content="article")
    meta(name="og:title", content="{{ post.title }}")
    meta(name="og:description", content="{{ post.content|cut|strip_tags|nl2sp }}")
    meta(name="og:image", content="{{ request|absolute_url:post.cover.url }}")

block content-ctn
    .aoverflow-hidden#main
        div(style="position: relative")
            div(style="width: 100%; height: 0; padding-top: 30%; background-image: url({{ post.cover|filter:'blur' }}); background-size: cover; background-position: center; min-height: 30vh")
            //- img.responsive(src="{{ post.cover.url }}")
            div.center-align(style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5)").valign-wrapper
                .valign(style="width: 100%")
                    h3.white-text(style="text-shadow: 0 1px 1px #000")= post.title
                    for category in post.categories.all
                        span.category= category.name

        .white.black-text
            .container.az-depth-1.article
                block content
                    //- .card
                    //-     .card-image
                    //-         div(style="width: 100%; height: 0; padding-top: 50%; background-image: url({{ post.cover.url }}); background-size: cover")

                    //-         .card-title.shaded
                    //-             h3= post.title

                            //- .card-title

                            //-     h1.center-align
                            //-         = post.title

                    .padding
                        .flow-text
                            | {{ post.content|safe }}

                        //- div(style="padding: 1rem 0")
                        //-     a(href="{% url 'posts:list' %}", data-ps) &lsaquo; Back to posts list

                .row
                    for other_post in other_posts
                        .col.s12.m6.l4
                            - with other_post as post
                                - include 'dunai/_post_card.jade'
