extends 'dunai/base.jade'

- load thumbnail
- load common

block content
    h1 Posts

    div(data-endless="1")
        .row
            for post in posts
                .col.s12.m6.hide-on-large-only
                    .card
                        a(href="{{ post.get_absolute_url }}", data-ps)
                            .card-image
                                div(style="width: 100%; height: 0; padding-top: 66.6%; background-image: url({% thumbnail post.cover 600x400 crop %}); background-size: cover")

                                //- .card-image
                                //-     img(src="{{ comic.image.url }}")
                                span.card-title.shaded.truncate= post.title
                            .card-content.black
                                span= post.content|strip_tags|truncatechars:"100"

                .col.s12.hide-on-med-and-down
                    div(style="display: flex; padding-bottom: 3rem")
                        a(data-ps, href="{{ post.get_absolute_url }}", style="width: 33.33%; padding-top: 66.6%; background-image: url({% thumbnail post.cover 600x400 crop %}); background-size: cover")
                        div(style="width: 66.66%; padding: 1rem; min-height: 250px")
                            h2(style="margin-top: 0")
                                a(href="{{ post.get_absolute_url }}", data-ps)= post.title
                            span= post.content|strip_tags|truncatechars:"400"


                - empty
                    .col.s12
                        h3 :/
                        p No posts yet.

                        .desert
                            .tumbleweed
                            .tumbleweed
                            .tumbleweed
