extends dunai/base

- load thumbnail

block content
    h1 Projects
        - include 'dunai/_projects.jade'



                //- - component name='card' title=project.title image=project.cover nest_image=project.cover link=project.get_absolute_url class='clickable' leafs=project.tags.all
                //-     .a-table.a-12.a-full-height
                //-         .a-cell.a-middle(style="font-size: 5rem") &lsaquo;
                //-     .a-table.a-12.a-full-height
                //-         .a-cell.a-middle(style="font-size: 5rem") &rsaquo;
