extends dunai/base

- load markup_tags
- load common
- load thumbnail

block content

    .a-12.body-text
        .a-block.a-12.body-bg.text-text(style="padding: 2rem")
            //.a-row
            //    .a-inline-block.a-middle
            //        .tag Project:
            //    .a-inline-block.a-middle
            //        h1
            //            = project.title
            h1
                = project.title

            .a-row(style="margin-top: 1rem")
                .a-inline-block.a-middle
                    .tag(style="padding: 0") Tags:
                - for tag in project.tags.all
                    .tag.a-inline-block.a-middle(style="background-color: {{ tag.bg_color }}; color: {{ tag.text_color }}")
                        = tag.title
        .a-block(style="padding: 2rem")
            | {{ project.description|apply_markup:"markdown"|safe }}

        .a-block(style="padding: 0 0 2rem")
            //h2 Images
            .slider-ctn.gallery-slider-ctn
                .slider
                    for screenshot in project.screenshots.all
                        .item(style="padding: 0.5rem")
                            .a-row.relative
                                img.responsive(src="{% thumbnail screenshot.file 400x400 crop %}")
                                .absolute-bottom
                                    h3.a-block.a-center.shaded.text-text(style="text-shadow: 0 1px 1px #000")
                                        .ellipsis(style="padding: 0.5rem")= screenshot.title

                .slider-nav.prev
                    .a-table.a-12.a-full-height
                        .a-cell.a-middle(style="font-size: 5rem") &lsaquo;
                .slider-nav.next
                    .a-table.a-12.a-full-height
                        .a-cell.a-middle(style="font-size: 5rem") &rsaquo;

        .a-block(style="padding: 0 2rem 2rem")
            //h2 Links
            for link in project.links.all
                .a-table.a-12
                    .a-cell.a-0.a-middle
                        i.fa(class="{{ link.provider.icon }}", style="font-size: 1.5em; width: 2rem; text-align: center; padding: 0.5rem 0")
                    .a-cell.a-12.a-middle(style="padding: 0 0 0 0.5rem")
                        a(href="{{ link.url }}")
                            = link.url
