.m-row.a-12
    .m-inline-block.m-4.m-top
        .bg-cover.m-window-height(style="background-image: url(http://lorempixel.com/600/400/?1)")
    .m-inline-block.m-8.m-top
        .a-block.a-12.body-bg.text-text(style="padding: 2rem")
            h1 Item
        .a-block(style="padding: 2rem")
            p Content
