- load markup_tags
- load common

.a-12
    .a-block.a-12.body-bg.text-text(style="padding: 2rem")
        //.a-row
        //    .a-inline-block.a-middle
        //        .tag Project:
        //    .a-inline-block.a-middle
        //        h1
        //            = project.title
        h1
            = project.title

        .a-row(style="margin-top: 1rem")
            .a-inline-block.a-middle
                .tag(style="padding: 0") Tags:
            - for tag in project.tags.all
                .tag.a-inline-block.a-middle(style="background-color: {{ tag.bg_color }}; color: {{ tag.text_color }}")
                    = tag.title
    .a-block(style="padding: 2rem")
        | {{ project.description|apply_markup:"markdown"|safe }}
