- load common
- load thumbnail

.a-inline-block.a-12.s-6.m-4.l-3.xl-3.relative(style="padding: 0.5rem")
    a.a-block(href="{{ link }}")
        .card.text-text.a-center(href="{% if link %}{{ link }}{% else %}#/{% endif %}", data-nest="{{ link }}", data-nest-bg="{% if nest_image %}{{ nest_image.url }}{% endif %}", class="{{ class }}")
            //.a-inline-block.a-12.card.a-center(href="{% if link %}{{ link }}{% else %}#/{% endif %}", data-nest="{{ link }}", data-nest-bg="{{ image.url }}", class="{{ class }}")
            //, data-backgroundize="{{ image }}")
            .square
            .cover(data-src="{% thumbnail image 400x400 crop %}")
            //.cover(style="background-image: url({{ image }})")
            .shadow
                // (class="{% if not image %}solid{% endif %}")
                .a-table.a-12.a-full-height
                    .a-cell.a-middle
                        if icon
                            h2
                                i.fi(class="{{ icon }}", style="font-size: 3em")
                            h2.thin {{ title }}
                        else
                            h2.thin {{ title }}
    if leafs
        .leaves
            .anim-outer
                for leaf in leafs
                    - with leafs.count as count
                        - with 360|div:count|mul:forloop.counter0 as rotation
                            - with leaf.title|length|mul:6 as leaf_width
                                .leaf-base
                                    .leaf(style="transform: rotate({{ rotation }}deg)")
                                        .leg
                                            .anim-inner
                                                .content(style="background-color: {{ leaf.bg_color }}; color: {{ leaf.text_color }}; font-weight: bold; transform: rotate(-{{ rotation }}deg)")
                                                    = leaf.title
                                        //; transition-delay: {{ forloop.counter0|div:20 }}s")
                                        //.content(style="background-color: {{ leaf.bg_color }}; color: {{ leaf.text_color }}; font-weight: bold; {% if rotation > 90 %}{% if rotation < 270 %}transform: rotate(-180deg); {% endif %}{% endif %}")
                                        //.anim-inner
                                            .content(style="background-color: {{ leaf.bg_color }}; color: {{ leaf.text_color }}; font-weight: bold")
                                                = leaf.title
                    //- with leafs.count as count
                        - with 360|div:count|mul:forloop.counter0 as rotation
                            - with leaf.title|length|mul:6 as leaf_width
                                .leaf(style="transform: rotate({{ rotation }}deg); padding-left: {{ 240|sub:leaf_width }}px")
                                    //; transition-delay: {{ forloop.counter0|div:20 }}s")
                                    //.content(style="background-color: {{ leaf.bg_color }}; color: {{ leaf.text_color }}; font-weight: bold; {% if rotation > 90 %}{% if rotation < 270 %}transform: rotate(-180deg); {% endif %}{% endif %}")
                                    .anim-inner
                                        .content(style="background-color: {{ leaf.bg_color }}; color: {{ leaf.text_color }}; font-weight: bold; transform: rotate(-{{ rotation }}deg)")
                                            = leaf.title
