.a-inline-block.a-12.s-6.m-4.l-3.xl-2.card.a-center(href="{% if link %}{{ link }}{% else %}#/{% endif %}", data-nest="{{ link }}", data-nest-bg="{{ image }}", class="{{ class }}")
    //, data-backgroundize="{{ image }}")
    .square
    .cover(data-src="{{ image }}")
    //.cover(style="background-image: url({{ image }})")
    .shadow
        .a-table.a-12.a-full-height
            .a-cell.a-middle.text-text
                if icon
                    h1
                        i.fi(class="{{ icon }}", style="font-size: 3em")
                    h1 {{ title }}
                else
                    h2 {{ title }}
