- load common
- load components

.a-row
    for comic in comics
         - component name='card' title=comic.title class='clickable' image=comic.image link=comic.get_absolute_url

        //.a-block(style="padding: 1rem 0.5rem")
        //    h2.primary-text.a-center
        //        = comic.title
        //    .a-12.m-10.m-left-1.l-8.l-left-2
        //        img.responsive(src="{{ comic.image.url }}")
        //    p.body-text.a-center
        //        = comic.comment
