@import 'variables';

h1, h2, h3, h4, h5, h6, .title {
    font-family: @header-font;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 400;

    &.thin {
        font-weight: 300;
    }
}

/*html, body {
    overflow-x: hidden;
}*/

body {
    background: @body-color;
    color: @text-color;
    font-family: @content-font;
}

.underlay {
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;

    //> .shadow {
    //    width: 100%;
    //    height: 100%;
    //    background: rgba(255, 255, 255, 0.8);
    //}
}

.viewport {
    //width: 100vw;
    //height: 100vh;
    //overflow-x: hidden;
    //overflow-y: scroll;
    padding-top: 3.5rem;

    //&.full-size {
    //    height: 100vh;
    //    position: relative;
    //
    //    .body {
    //        position: absolute;
    //        top: 3.5rem;
    //        bottom: 0;
    //        left: 0;
    //        right: 0;
    //
    //        .paper {
    //            position: absolute;
    //            top: 0;
    //            bottom: 0;
    //            left: 0;
    //            right: 0;
    //
    //            .content-main {
    //                height: 100%;
    //            }
    //        }
    //    }
    //}
}

.header {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;

    h1 {
        height: 2.5rem;
    }
}

blockquote {
    border-left: 0.5rem solid @body-color;
    padding-left: 1rem;
    margin-left: 1rem;
}

p {
    margin: 0 0 0.5rem;
    line-height: 125%;

    &:last-child {
        margin: 0;
    }
}

code {
    white-space: pre;
    margin: 0.5rem 0;
}

nav.nav-main {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    li {
        > ul {
            font-size: 0.8rem;
            text-transform: none;
            > li > a {
                padding: 0.5rem 1rem 0.5rem 2rem;
            }
        }
    }
    a {
        padding: 1rem;
        display: block;
        transition: all 0.2s ease-out;

        &:link, &:active, &:visited {
            color: @primary-color;
            text-decoration: none;
        }
        &:hover, &.current {
            background: lighten(@body-color, 75%);
            color: @primary-color;
        }
    }

    @media (max-width: @screen-xs-max) {
        position: fixed;
        top: 3.5rem;
        left: 100%;
        right: -75%;
        bottom: 0;
        overflow-y: scroll;
        z-index: 500;
        background: @text-color;
        box-shadow: 0 2px 5px #000;
        transition: all 0.15s ease-out;

        &.opened {
            left: 25%;
            right: 0;
        }
    }
}

.paper {
    background: #FFFFFF;
}
