@import 'variables';

h1, h2, h3, h4, h5, h6, .title {
    font-family: @header-font;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem 0;
}

body {
    background: @body-color;
    color: @text-color;
    font-family: @content-font;
}

.underlay {
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;

    //> .shadow {
    //    width: 100%;
    //    height: 100%;
    //    background: rgba(255, 255, 255, 0.8);
    //}
}

.viewport {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
