@import 'variables';

.container {
    //max-width: @container-width;
    margin: 0 auto;
}

.card {
    position: relative;
    min-height: 10rem;
    overflow: hidden;
    //box-shadow: 0 0 3px #000;

    .cover {
        filter: blur(2px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        transform: scale(1.05, 1.05);
        transition: filter 0.25s ease-out, transform 0.25s ease-out;
    }

    .shadow {
        transition: background 0.1s ease-out, top 0.2s ease-out, bottom 0.2s ease-out, opacity 0.2s ease-out, padding-top 0.2s ease-out;

        background: rgba(0, 0, 0, 0.65);
        text-shadow: 0 1px 1px #000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        opacity: 1;
    }

    &:hover {
        .cover {
            filter: blur(0);
            transform: scale(1.15, 1.15);
        }
        .shadow {
            //background: rgba(204, 17, 68, 0.65);
            //background: rgba(140, 12, 48, 0.65);
            background: rgba(0, 0, 0, 0);
            cursor: pointer;
            //top: 80%;
            //bottom: 0;
            opacity: 0;
            //padding-top: 80%;
        }
    }
}

.body {
    &-bg {
        background: @body-color;
    }
    &-text {
        color: @body-color;
    }
}

.text {
    &-bg {
        background: @text-color;
    }
    &-text {
        color: @text-color;
    }
}

.primary {
    &-bg {
        background: @primary-color;
    }
    &-text {
        color: @primary-color;
    }
}

.bg-cover {
    background-size: cover;
    background-position: center;
}
