@import 'variables';

.container {
    //max-width: @container-width;
    margin: 0 auto;
}

.card {
    position: relative;
    //min-height: 10rem;
    overflow: hidden;
    //box-shadow: 0 0 3px #000;
    outline: none;

    .cover {
        background-size: cover;
        background-position: center;
        filter: blur(2px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //transform: scale(1.15, 1.15);
        transition: filter 0.25s ease-out, transform 0.25s ease-out;
        transform-origin: 50% 50%;
        width: 100%;
        height: auto;

        opacity: 0;
        transform: scale(0.9, 0.9);

        &.loaded {
            transition: all 0.2s ease-out;
            opacity: 1;
            transform: scale(1.05, 1.05);
        }
    }

    .shadow {
        transition: background 0.1s ease-out, top 0.2s ease-out, bottom 0.2s ease-out, opacity 0.2s ease-out, padding-top 0.2s ease-out;

        background: rgba(0, 0, 0, 0.65);
        text-shadow: 0 1px 1px #000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        opacity: 1;
    }

    &:hover {
        .cover {
            filter: blur(0);
            transform: scale(1.15, 1.15);
        }
        .shadow {
            //background: rgba(204, 17, 68, 0.65);
            //background: rgba(140, 12, 48, 0.65);
            background: rgba(0, 0, 0, 0);
            cursor: pointer;
            //top: 80%;
            //bottom: 0;
            opacity: 0;
            //padding-top: 80%;
        }
    }
}

.body {
    &-bg {
        background: @body-color;
    }
    &-text {
        color: @body-color;
    }
}

.text {
    &-bg {
        background: @text-color;
    }
    &-text {
        color: @text-color;
    }
}

.primary {
    &-bg {
        background: @primary-color;
    }
    &-text {
        color: @primary-color;
    }
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

.expandable {
    background-size: cover;
    background-position: center;

    .expanded {
        opacity: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.nest {
    transition: all 0.2s ease-out;
    overflow: hidden;
    opacity: 0;

    .nest-cover {
        background-size: cover;
        background-position: center;
        //-webkit-filter: blur(15px);
        position: absolute;
        z-index: -1;
        //transform: scale(1.05, 1.05);
        top: 0;
        bottom: 0;
        left: 0;
        right: 66.6666%;
    }

    .nest-close {
        position: absolute;
        z-index: 110;
        top: 36px;
        right: 42px;
        width: 48px;
        height: 48px;
        background-image: url('../images/close2w.png');
        background-size: cover;
        background-position: center;
        cursor: pointer;

        transition: opacity 0.1s linear;
        transition-delay: 0s;
        opacity: 0;
    }

    .loading {
        opacity: 1;
        transition: opacity 0.2s ease-out;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
    }

    .nest-content {
        background: @text-color;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 33.3333%;
        right: 0;
        color: @body-color;
        transition: opacity 0.2s ease-out;
        //padding: 20px;
    }

    &.nest-maximized {
        transition: all 0.2s ease-out;
        opacity: 1;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        height: 100% !important;

        .nest-close {
            transition: opacity 0.5s linear;
            transition-delay: 0.2s;
            opacity: 1;
        }

        .nest-content {
            opacity: 1;
            overflow-y: scroll;
            transition: opacity 0.2s ease-out;
            transition-delay: 0.2s;

            .nest-content-inner {
                opacity: 0;
                transition: opacity 0.2s ease-out;
            }
        }
    }

    &.loaded {
        .nest-content {
            .nest-content-inner {
                transition: opacity 0.2s ease-out;
                opacity: 1;
            }
        }

        .loading {
            transition: opacity 0.2s ease-out;
            opacity: 0;
        }
    }
}

.tag {
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 1rem 0 0;
}
