@import 'flaticon';

nav .brand-logo {
    position: static;
    left: 0%;
    transform: none;
}

.overflow-hidden {
    overflow-y: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.shaded {
    background: rgba(0, 0, 0, 0.8);
}

.card-title {
    right: 0;
}

#materialbox-overlay {
    background: #FFFFFF;
    left: -5%;
    right: -5%;
}

.materialbox-caption {
    background: rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    text-shadow: 0 1px 1px #000;
}

.tag {
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 1rem 1rem 0;
}

.tags.small .tag {
    font-size: 0.75rem;
    padding: 2px;
    margin: 0 5px 0 0;
}

.middle {
    vertical-align: middle;
}

a:focus {
    outline: none;
}

.transition {
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, filter 0.2s ease-out;
    transform: scaleY(1) translate(0, 0);
    transform-origin: 50% 0;
    opacity: 1;
-webkit-transition-timing-function: cubic-bezier(0.125, 0.670, 0.330, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.125, 0.670, 0.330, 1.315); 
   -moz-transition-timing-function: cubic-bezier(0.125, 0.670, 0.330, 1.315); 
     -o-transition-timing-function: cubic-bezier(0.125, 0.670, 0.330, 1.315); 
        transition-timing-function: cubic-bezier(0.125, 0.670, 0.330, 1.315); /* custom */
}

.transition.invisible {
    opacity: 0;
}

.transition.collapsed {
    transform: scaleY(1) translate(0, -10vh);
}

.transition.blurred {
    // filter: blur(5px);
}

.ps-loading {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        background: rgba(183, 28, 28, 0.7);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;
    }

    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 0.5rem;
        height: 2rem;
        margin: -1rem 0 0 -0.25rem;
        z-index: 110000;
        background: #FFF;
        transform-origin: 50% 50%;
        animation: 0.5s rotating linear infinite;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
